[user]
	name = kanaru-ssk
	email = kanaru.ssk@gmail.com
[init]
	defaultBranch = main
[fetch]
    prune = true
[core]
    ignorecase = false
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
