[user]
	name = kanaru-ssk
	email = kanaru.ssk@gmail.com
[init]
	defaultBranch = main
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[fetch]
    prune = true
[core]
    ignorecase = false